<?xml version="1.0"?>
<config>
    <modules>
        <SaM_Bestsellers>
            <version>0.1.0</version>
        </SaM_Bestsellers>
    </modules>
    <global>
        <models>
            <sam_bestsellers>
                <class>SaM_Bestsellers_Model</class>
                <resourceModel>sam_bestsellers_resource</resourceModel>
            </sam_bestsellers>
            <sam_bestsellers_resource>
                <class>SaM_Bestsellers_Model_Resource</class>
            </sam_bestsellers_resource>
        </models>
        <blocks>
            <sam_bestsellers>
                <class>SaM_Bestsellers_Block</class>
            </sam_bestsellers>
        </blocks>
        <helpers>
            <sam_bestsellers>
                <class>SaM_Bestsellers_Helper</class>
            </sam_bestsellers>
        </helpers>
        <resources>
            <sam_bestsellers_setup>
                <setup>
                    <module>SaM_Bestsellers</module>
                </setup>
            </sam_bestsellers_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <sam_bestsellers>
                        <type>model</type>
                        <class>sam_bestsellers/observer</class>
                        <method>insertBlock</method>
                    </sam_bestsellers>
                </observers>
            </controller_action_layout_load_before>
        </events>
        <layout>
            <updates>
                <sam_bestsellers>
                    <file>sam_bestsellers.xml</file>
                </sam_bestsellers>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <sam_bestsellers>
                    <files>
                        <default>SaM_Bestsellers.csv</default>
                    </files>
                </sam_bestsellers>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <sam_bestsellers>
            <settings>
                <message_text>No best-selling products</message_text>
            </settings>
        </sam_bestsellers>
    </default>
</config>