<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <sam_general translate="label" module="sam_bestsellers">
            <label>SaM Extensions</label>
            <sort_order>100</sort_order>
        </sam_general>
    </tabs>
    <sections>
        <sam_bestsellers module="sam_bestsellers" label="label">
            <class>separator-top</class>
            <label>SaM Bestsellers</label>
            <tab>sam_general</tab>
            <frontend_type>text</frontend_type>
            <sort_order>45</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>SaM Bestsellers Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>900</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable SaM Bestsellers</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <position translate="label">
                            <label>Position</label>
                            <frontend_type>select</frontend_type>
                            <source_model>sam_bestsellers/adminhtml_system_config_source_position</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </position>
                        <limit translate="label">
                            <label>Count of Bestseller Product in List</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </limit>
                        <message_text>
                            <label>Message</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </message_text>
                        <period>
                            <label>Period in Days</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </period>
                    </fields>
                </settings>
            </groups>
        </sam_bestsellers>
    </sections>
</config>